.comments-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
    .comments-container .comments-list ul {
        margin:0;
    }

        .comments-container .comments-list form p {
            margin:0;
        }
    .comments-container .comment {
        min-width:20em;

    }
    .comment {
        width: auto;
        background-color: var(--darker-turquoise);
        color: white;
        margin-top: 0.5rem;
        display: grid;
        grid-template-columns: auto auto 6rem;
        grid-template-rows: auto auto;
        border-radius: 7px;
        padding: 1rem;
        box-shadow: 0 2px 4px 1px #a19d9d;
    }

.comment > .text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin:0 0 1em 0;
    }

.comment-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.comment-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.delete-comment-overlay {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 245, 245, 0.9);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: black;
}

.comments-list {
    width:100%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    max-width:40em;
}
.comments-list ul {
    padding: 0;
}
.comment-list li {
    box-shadow: 0 2px 4px 1px #a19d9d;
    background-color: #24AAC3;
}

.comments-list ul li.comment {
    background-color: #24AAC3;
}
.comment > textarea {
    color: black;
}

.comments-container textarea {
    color: black;
    resize: vertical;
}

.deleted-comment {
    background: #E3E3E3;
}

.deleted-comment button{
   display: none;
}
.write-comment-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.write-comment-wrapper p {
    margin:0;
    align-self:center;
}
    

.form-container {
    margin-top: 0.5em;
}

.comment-btn {
    background: var(--darker-turquoise);
    padding: 0.3em 0.6em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}