:root {
    --border-color: rgb(136, 128, 135)
}

textarea {
    font-family: 'Poppins', sans-serif;
}

.new-discussion-overlay {
    position: fixed;
    background-color: var(--overlay-color);
    height: 100vh;
    width: 100vw;
    top: 0em;
    left: 0em;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-discussion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 2em 1.5em;
    border: 1px rgb(136, 128, 135) solid;
    border-radius: 10px;
    background: var(--background-color)
}

    .new-discussion-box > input, .new-discussion-box > textarea {
        width: 30em;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 9px;
        box-shadow: var(--box-shadow);
        border: 2px rgb(136, 128, 135) solid;
        background-color: var(--textarea-color);
    }

    .new-discussion-box button {
        border: 0px;
        background: var(--darker-turquoise);
        padding: 0.5em 1.5em;
        color: white;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        padding: 0.5em;
        margin: 0.5em;
        align-self: flex-end;
        cursor: pointer;
    }

    .new-discussion-box form select {
        border-radius: 7px;
        margin: 5px;
        background-color: var(--textarea-color);
    }
    .new-discussion-overlay .close {
        background: none;
        box-shadow: none;
    }

.new-discussion-box > .close:hover {
    
}


.new-discussion-box > .button:hover {
    color: white;
    background: rgb(146,135,154);
    background: linear-gradient(90deg, rgba(146,135,154,1) 0%, rgba(72,88,164,1) 44%, rgba(0,19,111,1) 100%);
}

