:root {
    --border-color: rgb(136, 128, 135)
}

.new-friend {
    align-self: center;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
    border: 2px rgb(136, 128, 135) solid;
}

.add-friend-overlay {
    position: fixed;
    background-color: var(--overlay-color);
    height: 100vh;
    width: 100vw;
    top: 0em;
    left: 0em;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em 2em 1.5em;
    border: 1px rgb(136, 128, 135) solid;
    border-radius: 5px;
    background: var(--textarea-color);
}

.add-friend-overlay input, .add-friend-overlay textarea {
    width: 30em;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
    border: 2px rgb(136, 128, 135) solid;
    color: var(--textarea-text-color);
    background: var(--textarea-color);
}

.add-friend-overlay button {
    border: 0px;
    padding: 0.5em 1.5em;
    color: var(--textarea-text-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--darker-turquoise);
    padding: 0.5em;
    margin: 0.5em;
    align-self: flex-end;
}

.add-friend-overlay .close {
    background: none ;
    box-shadow: none;
}

.add-friend-overlay .close:hover {
    background:none;
}


.add-friend-overlay button:hover {
    color: var(--textarea-color);
    cursor: pointer;
}






