:root {
    --navMenu-color: #111111;
    --navLink-color: #4DBBCD;
    --button-color: #24AAC3;
    --button-h1-color: #043239;
    --getStartedSection-color: #0D5A69;
    --light-turquoise: #83D3EC;
    --light-turquoise-two: #167D8F;
    --darker-turquoise: #0D5A69;
}



html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 0.5fr repeat(7,1fr) 0.5fr;
    grid-template-rows: 7rem 3rem 1fr 1fr 1fr;

    .profile-wheel-container {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 5;
        justify-self: right;
    }

        .bio-container, .messages-container, .settings-container, .discussions-container, .saved-section, .posts-container {
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 5;
            justify-self: stretch;
        }

        .friends-container {
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 5;
            justify-self: center;
        }

        .search-bar {
            grid-column-start: 6;
            grid-column-end: 9;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .navbar {
            grid-column-start: 2;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: stretch;
        }
    }
 