

.search {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.search input {
    width: 7em;
    align-self: center;
    margin: 0.5em 1.5em;
    padding: 0.5em 1em;
    border-radius: 20px;
    box-shadow: inset 2px 3px 7px rgb(226 226 226);
    border: none;
    width: 97%;
    background: #F4F4F4;
    color:black;
}

.search-icon {
    display: inline-block;
    position: relative;
    left: -3.5em;
    align-self: center;
   top: .1em;
    
}
.search-icon svg {
    height: 1em;
}
  
.search input:focus {
    outline:none;
}

.search button {
    margin: 0;
    font-style: bold;
    color: rgba(124, 124, 124, 0.568);
    text-decoration: none;
    border: 1px gray solid;
}

input {
    border-width: 1px;
    border-style: inset;
    border-color: black;
    border-image: initial;
}

