:root {
    --border-color: rgb(136, 128, 135)
}

.button {
    border: 0px;
    padding: 0.5em 1.5em;
    color: white;
    border-radius: 80px;
    box-shadow: var(--box-shadow);
    background: var(--darker-turquoise);
    padding: 0.5em;
    align-self: flex-end;
    margin: 1rem 1rem 1rem;
}
    .button:hover {
        background: var(--light-turquoise);
        color:black;
    }

.conferm-text {
    padding: 2rem 2rem 2rem;
    margin-block-end: 0rem;
    margin-block-start: 0rem;
    color: var(--text-color);
}

.delete-overlay-background {
    position: fixed;
    background-color: var(--overlay-color);
    height: 100vh;
    width: 100vw;
    top: 0em;
    left: 0em;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-overlay-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px rgb(136, 128, 135) solid;
    border-radius: 10px;
    background: var(--textarea-color);
    color: var(--textarea-text-color);
}

.inputWrapper {
    display: flex;
    justify-content: center;
}

.newTopicWrapper .makeNewTopic .close {
    align-self: flex-end;
}