.discussion {
    width: 100%;
    background-color: var(--darker-turquoise);
    color:white;
    margin-top:0.5rem;
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:3rem auto ;
}
.discussion-content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
.discussion-options {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self:right;
}
.discussion-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
}
h4 {
    margin-block-start: 2px;
    margin-block-end: 2px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 14px;
}
.read-more {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-self:center;

}
.createDate {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size:14px;
    justify-self:right;
}
.hide{
    display:none;
    visibility:hidden;
}
.reverse-icon {
    transform: scaleY(-1);
}
