.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0 1em;
}
.menu {
    width: 3em;
}
.elements {
    list-style: none;
    display: flex;
    transition: transform 500ms;
}

.avatar {
    position:relative;
}

.elements li { 

    height:20px ;
    transition: transform 500ms;

}
.messages {
    position: relative;
    z-index: -1;
    margin: 15px 11px;
}

.settings {
    position: relative;
    z-index: -1;
    margin: 15px 11px;
}

.elements:target>.avatar{
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}


.elements:target > .settings {
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}

