.navbar {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;

}
.elements {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
li{
    margin-left:0.5rem;
}
.avatar {
    z-index: 1;
}
.messages {
    position:absolute;
    z-index: -1;
}
.animation1 {
    animation: messages 0.7s ease-in-out forwards;
}
@keyframes messages {
    100% {
        transform: translateX(-4rem)
    }
}
.settings {
    position: absolute;
    z-index: -2;
}
.animation2 {
    animation: settings 0.7s ease-in-out forwards;
}
@keyframes settings{
    100%{
        transform:translateX(-8rem)
    }
}