* {
    font-family: 'Poppins', sans-serif;
}

.friends-list {
    padding-top:2rem;
    padding-bottom:1rem;
    padding-left:2rem;
    padding-right:2rem;
    background: var(--darker-turquoise);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 25rem;
}

.friends-list-item {
    display: flex;
    background: var(--private-messages-blubb);
    list-style: none;
    width: 100%;
    max-width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    text-align: center;
    height: 4em;
    margin-bottom: 1rem
}

.friends-container {
    margin: 1rem 1rem 1rem;
    max-width: 35rem;
    width: 100%;
}

.friends-list > li a {
    font-weight: bold;
    padding: 0.4em;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    border: 2px black;
    margin: 0.5em;
    border-radius: 5px;
    width: 100%;
}

    .friends-list > li a:hover {
        text-decoration: underline;
        text-decoration-color: #167d8f;
        text-underline-offset:auto;
    }

    .friends-list > li a .friend-avatar {
        width: 2.8em;
        height:2.3em;
        background-image: url(../../icons/useravatar.svg);
        border-radius:100%;
        background-position: center;
    }

.friends-container .userName {
    padding: 0em 0.5em;
    font-weight: 400;
    color: var(--textarea-text-color);
}

.friends-list > li a h4 {
    margin: 0.5em;
    padding: 0em 0.5em;
    font-size: 18px;
    font-weight:200;
}
    .friends-list > li .req-details {
        display:flex;
        align-items: center;
        width: 100%;
    }


.friends-list > li p {
    color: gray;
    margin: 0;
    padding: 1em;
    align-self: center;
    width: 100%;
}

.friends-list > li .accept-friend,
.friends-container > .new-friend {
    margin: 0.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    box-shadow: var(--box-shadow);
}

    .friends-list > li .accept-friend:hover, 
    .friends-container > .new-friend:hover {
        cursor: pointer;
        color: white;
        background: var(--light-turquoise);
        box-shadow: var(--box-shadow);
        border-color: #a19a9a;
        border-width: thin;
    }

.friend-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: var(--darker-turquoise);
    display: flex;
    align-items: center;
    justify-content: center;
}
    
    .friend-icon img {
        border-radius: 50%;
        width: 90%;
        height: 90%;
    }

h2 { 
    font-size: 1.2rem;
}

.friends-list > li .pending {
    margin: 0.5em;
    border-radius: 5px;
    /*box-shadow: #a19a9a 0px 0px 2px 1px;*/
    max-width: 5em;
    height: fit-content;
    /*background-color: #83d3ec;*/
    font-weight: 800;
}

